apiVersion: apps/v1
kind: Deployment
metadata:
  name: devops-project-7:1.0.0-27
spec:
  replicas: 2
  selector:
    matchLabels:
      app: devops-project-7:1.0.0-27
  template:
    metadata:
      labels:
        app: devops-project-7:1.0.0-27
    spec:
      containers:
        - name: devops-project-7-app
          image: mukeshr29/devops-project-7:1.0.0-26
        - name: devops-project-7:1.0.0-27
          image: mukeshr29/devops-project-7:1.0.0-27
          resources:
            limits:
              memory: "256Mi"
              cpu: "500m"
          ports:
            - containerPort: 8080
